// Variables
@import 'assets/styles/variables';

.ap-auxiliary-header {
	
	.ap-image-column {
		text-align: center;
		font-style: italic;
	}

	.ap-image {
		height: 180px;
		width: 180px;
		border: 8px solid $ap-primary-color;
		object-fit: cover;
	}

	.ap-no-image.ap-image {
		border: 0;
	}

	.ap-panel-body {
		padding: 30px;
	}

	.ap-form-group:last-child {
		margin-bottom: 0;
	}
}