// Variables
@import 'assets/styles/variables';

.ap-app-land {
	width: 100%;

	h1 {
		font-size: 30px;
	}
	h2 {
		font-weight: lighter;
		font-size: 25px;
	}
	h3 {
		font-weight: bold;
		font-size: 15px;
	}
	p {
		font-size: 14px;	
	}
	.ap-title-h2 {
		font-weight: lighter;
		font-size: 34px;
		line-height: 45px;
		margin-bottom: 35px;
	}
	.ap-subtitle {
		font-weight: bold;
		font-size: 16px;
	}
	.ap-content {
		font-weight: lighter;
		font-size: 16px;
		margin-bottom: 35px;
	}
	.ap-land-link {
		display: inline-block;
		line-height: 48px;
		height: 50px;
		min-width: 150px;
		border-radius: 25px;
		text-transform: uppercase;
		font-size: 12px;
		text-align: center;

		&:hover {
			text-decoration: none;
		}
		&:focus {
			outline: 0;
			text-decoration: none;
			box-shadow: 0 0 2pt 1pt $ap-primary-color;
		}

		&.ap-default {
			color: #000000;
			font-weight: bold;
			background: $ap-btn-default-background;
			border: 2px solid $ap-btn-default-border;
			&:hover {
				background: $ap-btn-default-background-hover;
			}
		}

		&.ap-primary {
			color: #FFFFFF;
			background: $ap-btn-primary-background;
			border: 2px solid $ap-btn-primary-background;
			&:hover {
				background: $ap-btn-primary-background-hover;
				border: 2px solid $ap-btn-primary-background-hover;
			}			
		}
	}


	.ap-app-land-section {
		background: $ap-global-background;

		/* SECTION 1: PLATFORM
		 * ******************************************************************************/
		&.ap-app-platform {
			border: 1px solid red;
			
			text-align: center;
			padding: 10px 0;

			.row-buttons {
				margin: 20px 0;
			}

			.ap-link {
				width: 100%;
				margin: 0 0 15px 0;
			}
		}

		/* SECTION 2: DISCOVER
		 * ******************************************************************************/
		&.ap-app-discover {
			border: 1px solid blue;
			
			.col-content {
				padding: 0;
				background: url('/assets/images/auxpro-land-image1.png');
				background-size: cover;
				background-position: center center;

				>div {
					background: rgba(255,255,255,0.7);
					padding: 25px 25px;
					text-align: center;

					.ap-link {
						width: 100%;
						margin: 15px 0;
					}
				}
			}
		}

		/* SECTION 3: VIDEO
		 * ******************************************************************************/
		&.ap-app-video {
			border: 1px solid red;
			padding: 10px 0 0 0;

			.col-video {
				padding: 0;
				padding-top: 15px;
				.ap-youtube-video {
					border: 15px solid black;
					border-left: 0;
					border-right: 0;
				}
			}
			.col-content {
				text-align: center;
				padding: 0 15px;
			}
		}


		/* SECTION 4: ROLES
		 * ******************************************************************************/
		&.ap-app-roles {
			border: 1px solid blue;
			background: #E3E4E5;
			
			.ap-row {
				padding-top: 35px;
				padding-left: 15px;
				padding-right: 15px;
				.ap-col {
					text-align: center;
					padding-bottom: 35px; 
				}
			}
		}


		/* SECTION 5: TOOL
		 * ******************************************************************************/
		&.ap-app-tool {
			color: white;
			background: #3379B7;

			.ap-container {
				height: 600px;
			}
			.ap-col {
				display: flex;
				align-items: center;
			}
			.ap-app-tool-content {
				.ap-content {
					max-width: 420px;
				}

			}
			.ap-app-tool-image {
				height: 100%;
				width: 100%;
				margin: 0;
				margin-left: 20px;

				background: url('/assets/images/auxpro-land-image2.png');
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}


		/* SECTION 6: NEWS
		 * ******************************************************************************/
		&.ap-app-news {
			
			.ap-container {
				height: 1100px;
			}
			.ap-title-h1 {
				padding: 50px 0;
				font-weight: bold;
			}
			.ap-col {
				text-align: center;
			}
			.ap-facebook-page,
			.ap-twitter-timeline {
				border: 1px solid grey !important;
			}
		}


		/* SECTION 6: EXPERIENCE
		 * ******************************************************************************/
		&.ap-app-experience {
			background: url('/assets/images/auxpro-land-image3.png');
			background-size: cover; 
			height: 870px;
			padding-top: 120px;

			.ap-app-experience-content {				
				padding: 80px 0;
				background: rgba(255,255,255,0.8);

				.ap-title-h2 {
					margin-top: 0;
					font-weight: bold;
				}

				.ap-app-experience-links {
					display: flex;
					margin-top: 40px;
					.ap-app-experience-link {
						height: 50px;
						width: 50px;
						margin-left: 25px;
						display:inline-block;
						border-radius: 5px;
						background-repeat: no-repeat;
						background-size: 100% auto;
						background-position: center center;

						position: relative;

						&:hover {							
							filter: brightness(70%);
						}
						
						&.ap-facebook {
							background-image: url('/assets/images/social/social-facebook-square.svg');
						}

						&.ap-youtube {
							width: 65px;
							background-image: url('/assets/images/social/social-youtube.svg');
						}

						&.ap-twitter {
							background-image: url('/assets/images/social/social-twitter-square.svg');
						}

						&.ap-linkedin {
							background-image: url('/assets/images/social/social-linkedin-square.svg');
						}
					}				
				}
			}
		}
	}	
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: $screen-sm-min) {
	.ap-app-land {
		h1 {
			font-size: 35px;
		}
		h2 {
			font-size: 25px;
		}
		.ap-app-land-section {
			&.ap-app-platform {
				padding: 20px 0;
				.row-buttons {
					margin-top: 30px;
				}
				.column-button1 {
					text-align: right;
				}
				.column-button2 {
					text-align: left;
				}

				.ap-link {
					width: 150px;
					margin: 0;
				}
			}
		}
	}

}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: $screen-md-min) {
	.ap-app-land {
		h1 {
			font-size: 40px;
		}
		h2 {
			font-size: 30px;
		}
		.ap-app-land-section {
			&.ap-app-platform {
				padding: 40px 0;
				.row-buttons {
					margin-top: 40px;
				}
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: $screen-lg-min) {
	.ap-app-land {
		h1 {
			font-size: 50px;
			
		}
		h2 {
			font-size: 34px;
		}
		.ap-app-land-section {
			&.ap-app-platform {
				padding: 60px 0;
				.row-buttons {
					margin-top: 50px;
				}
			}
		}		
	}
}
