// Variables
@import 'assets/styles/variables';

.ap-auxiliary-offer-tile {

	.ap-panel-heading {
		display: flex;
		align-items: center;

		p {
			flex-grow: 1;
			margin: 0;
		}

		
	}

	.ap-panel-body {
		display: flex;

		.ap-offer-tile-text {
			height: 100%;
			flex-grow: 1;
		}
		.ap-offer-tile-actions {
			height: 100%;
			flex-grow: 0;

			.ap-button {
				display: flex;
				align-items: center;
				min-width: 115px;
				
				.text {
					margin-left: 10px;
					padding: 3px;
				}
			}
		}
	}
}