// Variables
@import 'assets/styles/variables';

.ap-app-header {
	background: white;
	margin-bottom: 25px;

	.ap-navbar {
		background: none;
		border: 0;
		.container {
			height: 90px;
		}
	}

	.ap-navbar-header {
        cursor: pointer;
        height: 90px;
        .ap-navbar-brand {
        	>img {
        		height: 60px !important;
        		margin: 0 !important;
        	}
        }
    }

    .ap-navbar-group {
    	.ap-navbar-link {
			a {
				margin: 15px 15px;
				padding: 0;
				height: 50px;
				line-height: 50px;
				text-align: center;
			}
			&.active {
				background: #E7E7E7;
			}
			&.navbar-btn-default,
			&.navbar-btn-primary {
				&.active,
				&:hover {
	    			background: none;
	    		}
	    		>a {
					width: 120px;
					margin: 15px 10px;
			    	border-radius: 25px;
			    	line-height: 46px;
			    	font-weight: bold;
			    	&:focus {
		    			box-shadow: 0 0 2pt 1pt $ap-primary-color;
		    		}
			    }
	    		
	    	}
		    &.navbar-btn-default>a {
		    	background: $ap-btn-default-background;
				border: 2px solid $ap-btn-default-border;
				&:hover {
					background: $ap-btn-default-background-hover;
				}
		    }
		    &.navbar-btn-primary>a {
		    	color: #FFFFFF;
				background: $ap-btn-primary-background;
				border: 2px solid $ap-btn-primary-background;
				&:hover {
					background: $ap-btn-primary-background-hover;
					border: 2px solid $ap-btn-primary-background-hover;
				}	
		    }
    	}
    }
}