// Variables
@import 'assets/styles/variables';

.ap-service-infos {
	
	.ap-service-infos-image-container {
		text-align: center;
		.ap-image {
			max-height: 120px;
			border: 5px solid $ap-primary-color;
		}
	}
}