// Variables
@import 'assets/styles/variables';

.ap-service-infos {
	
	.ap-service-infos-image-container {
		text-align: center;
		.ap-image {
			height: 120px;
			width: 120px;
			object-fit: cover;
			border: 3px solid $ap-primary-color;
			border-radius: 3px;
		}
	}
}