.ap-auxiliary-tuto {
	.ap-auxiliary-tuto-button {
		text-align: right;
		padding: 15px 0;
	}
	.carousel-inner {
		.item {
			background: white;
			text-align: center;
			img {
				display: inline-block;
			}
		}
	}
}