// Variables
@import 'assets/styles/variables';

.ap-service-header {

	.ap-image-column {
		text-align: center;
		font-style: italic;
	}

	.ap-image {
		max-height: 180px;
		border: 8px solid $ap-primary-color;
	}

	.ap-no-image.ap-image {
		border: 0;
	}

	.ap-panel-body {
		padding: 30px;
	}

	.ap-form-group:last-child {
		margin-bottom: 0;
	}
}