// Variables
@import 'assets/styles/variables';

.ap-service-customer-tile {

	.ap-panel-heading {
		display: flex;
		align-items: center;

		p {
			flex-grow: 1;
			margin: 0;
		}

		.ap-button {
			flex-grow: 0;
			margin: 0 0.25rem;
			color: $ap-secondary-color;
			background: transparent;

			&:hover {
				color: $ap-primary-color;
				background: rgba(0, 0, 0, 0.05);
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}