.app-land-logos {
    background: white;
    .title {
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .app-land-logo {
        margin: 3rem;
        img {
            height: auto;
            width: 20%;
            object-fit: contain;
        }
    }
}