// Variables
@import 'src/components/AppLand.scss';

.app-land-user {

    &.sap {
        background: $ap-alt3-background;
        color: $ap-alt3-color;
        .ap-app-land-section-right {            
            background-image: url('/assets/images/land/img_sap.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            justify-content: center;
            .ap-app-land-section-content {
                width: 100%;
                position: relative;
                .title-big {
                    position: absolute;
                    top:0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        .ap-app-land-section-left {
            background: $ap-alt3-gradient;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 40px 0 40px 15px;
        }
    }

    &.aux {
        background: $ap-alt1-background;
        color: $ap-alt1-color;
        .ap-app-land-section-right {
            background: $ap-alt1-gradient;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 40px 15px 40px 0;
        }
        .ap-app-land-section-left {
            background-image: url('/assets/images/land/img_aux.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            justify-content: center;
            .ap-app-land-section-content {
                width: 100%;
                position: relative;
                .title-big {
                    position: absolute;
                    top:0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }

    .title {
        padding: 0 0 20px 20%;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0;
        text-align: left;
    }
    .item {
        display: flex;
        min-height: 70px;
        .item-icon {
            padding-right: 15px;
            text-align: right;
            width: 20%;
            img {
                width: 20px;
                height: 20px;
            }
        }
        .item-content {
            text-align: left;
            width: 80%;
            h2 {
                text-transform: uppercase;
                line-height: 25px;
                font-size: 2rem;
                font-weight: bold;
                margin: 0;
            }
            p {
                width: 85%;
                font-size: 1.3rem;
                margin: 0;
            }
        }

        &:last-child {
            min-height: 0;  
        }
    }
    .button {
        margin: 15px 10% 0 20%;
        text-align:center;
        .ap-link {
            background: $ap-alt3-draw;
            border: 0.2rem solid $ap-alt3-draw;
            border-radius: 0.5rem;
            padding: 1rem;
            color: $ap-alt3-color;
            text-decoration: none;
            display: block;
            font-weight: bold;
            font-size: 1.6rem;
        }
    }
}

@media only screen and (min-width: $screen-sm-min) {
    .app-land-user {
        .title-big {
            font-size: 3rem;
        }
        .ap-app-land-section-content {
            .items {
                .item {
                    .item-icon {
                        img {
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                    .item-content {
                        h2 {
                            font-size: 2.5rem;
                        }
                        p {
                            margin: 5px 0 10px 0;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: $screen-md-min) {
    .app-land-user {
        .title-big {
            font-size: 4rem;
        }
        .ap-app-land-section-content {
            .items {
                .item {
                    .item-icon {
                        img {
                            width: 2.5rem;
                            height: 2.5rem;
                        }
                    }
                    .item-content {
                        h2 {
                            font-size: 2.8rem;
                        }
                        p {
                            margin: 7px 0 15px 0;
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: $screen-lg-min) {
    .app-land-user {
        .title-big {
            font-size: 5rem;
        }
        &.sap {
            .ap-app-land-section-left {
                .ap-app-land-section-content {
                    width: 100%;
                }
            }
        }
        &.aux {
            .ap-app-land-section-right {
                .ap-app-land-section-content {
                    width: 100%;
                }
            }
        }
    }
}